h1 {
    background-color: saddlebrown;
}
body {
    background-color: darkblue;
}
p {
    color: aqua;
}
p + p{
    color: blueviolet;
}
div.thisIsFun p#funFunFun {
    color:brown
}
div.thisIsFun p.Fun {
    color:green
}

div article p a[href^="https"] {
    color: black;
}
div article p a[href^="NotToday"] {
    color: green
}